bin/
obj/
CopilotIndices/
*.vsidx
src/.vs/TheRandomizer.slnx/copilot-chat/7cf7d5ff/sessions/a328f2cc-2906-4fe2-b83c-f1a121d4d39b
src/.vs/TheRandomizer.slnx/DesignTimeBuild/.dtbcache.v2
src/.vs/TheRandomizer.slnx/DesignTimeBuild/.dtbcache.v2
